<h1>Заявка не может быть подана</h1>
<p>Одного или нескольких товаров из вашей корзины нет в наличии на складе</p>
<p>Приносим извинения за предоставленные неудобства</p>
<p>Вы можете перейти в коризину, удалить товары, которых нет в наличии и продолжить оформление заказа</p>