@{
    ViewBag.Title = "Наши контакты";
}
<h2>@ViewBag.Title.</h2>
<div class="col-md-4">
    <address>
        <span class="glyphicon glyphicon-map-marker"></span>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br /> <br />
        <abbr title="Телефон"><span class="glyphicon glyphicon-phone-alt"></span></abbr>
        <a href="tel:89209006770">8(920)900-67-70</a>   
    </address>

    <address>
        <strong>Тех. поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>По вопросам маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
<div class="col-md-8">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=P61VKQpjms3DI4Sb0mD9tGyi-Il5ysxO&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
</div>
<div class="clearfix"></div>